.user-page__title {
  margin-bottom: 30px;
}

.user-page__descr {
  font-size: 18px;
  text-align: center;
}

.user-page__footer {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
